#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/3wonders.cfg

custom_viewport_width = "533"
custom_viewport_height = "391"
custom_viewport_x = "381"
custom_viewport_y = "163"