#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/atetris.cfg

custom_viewport_width = "570"
custom_viewport_height = "442"
custom_viewport_x = "365"
custom_viewport_y = "132"