#include "/opt/retropie/configs/all/retroarch/overlay/arcade/_common_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/bankp.cfg

custom_viewport_width = "516"
custom_viewport_height = "391"
custom_viewport_x = "381"
custom_viewport_y = "135"