#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/crimec.cfg

custom_viewport_width = "515"
custom_viewport_height = "384"
custom_viewport_x = "389"
custom_viewport_y = "173"