#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ctribe.cfg

custom_viewport_width = "580"
custom_viewport_height = "433"
custom_viewport_x = "350"
custom_viewport_y = "148"