#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/fastfred.cfg

custom_viewport_width = "363"
custom_viewport_height = "520"
custom_viewport_x = "466"
custom_viewport_y = "143"