#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/forgottnu.cfg

custom_viewport_width = "740"
custom_viewport_height = "594"
custom_viewport_x = "264"
custom_viewport_y = "61"