#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/friskyt.cfg

custom_viewport_width = "544"
custom_viewport_height = "402"
custom_viewport_x = "366"
custom_viewport_y = "184"