#include "/opt/retropie/configs/all/retroarch/overlay/arcade/_common_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/gtmr.cfg

custom_viewport_width = "582"
custom_viewport_height = "435"
custom_viewport_x = "368"
custom_viewport_y = "178"