#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/jungleh.cfg

custom_viewport_width = "574"
custom_viewport_height = "436"
custom_viewport_x = "342"
custom_viewport_y = "147"