#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/kurikint.cfg

custom_viewport_width = "694"
custom_viewport_height = "510"
custom_viewport_x = "291"
custom_viewport_y = "107"