#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/lnc.cfg

custom_viewport_width = "409"
custom_viewport_height = "532"
custom_viewport_x = "410"
custom_viewport_y = "123"