#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/mace.cfg

custom_viewport_width = "536"
custom_viewport_height = "390"
custom_viewport_x = "372"
custom_viewport_y = "170"