#include "/opt/retropie/configs/all/retroarch/overlay/arcade/_common_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/nbbatman.cfg

custom_viewport_width = "530"
custom_viewport_height = "396"
custom_viewport_x = "367"
custom_viewport_y = "165"