#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/pepper2.cfg

custom_viewport_width = "527"
custom_viewport_height = "375"
custom_viewport_x = "377"
custom_viewport_y = "166"