#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/radarscp.cfg

custom_viewport_width = "488"
custom_viewport_height = "568"
custom_viewport_x = "394"
custom_viewport_y = "54"