#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/roadblst.cfg

custom_viewport_width = "623"
custom_viewport_height = "506"
custom_viewport_x = "297"
custom_viewport_y = "107"