#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/sfa3.cfg

custom_viewport_width = "677"
custom_viewport_height = "527"
custom_viewport_x = "288"
custom_viewport_y = "86"