#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/sidearms.cfg

custom_viewport_width = "535"
custom_viewport_height = "406"
custom_viewport_x = "383"
custom_viewport_y = "174"