#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/simpbowl.cfg

custom_viewport_width = "482"
custom_viewport_height = "356"
custom_viewport_x = "404"
custom_viewport_y = "204"