#include "/opt/retropie/configs/all/retroarch/overlay/arcade/_common_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/splatter.cfg

custom_viewport_width = "681"
custom_viewport_height = "536"
custom_viewport_x = "297"
custom_viewport_y = "93"