#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ssi.cfg

custom_viewport_width = "441"
custom_viewport_height = "593"
custom_viewport_x = "438"
custom_viewport_y = "58"