#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/stratof.cfg

custom_viewport_width = "540"
custom_viewport_height = "405"
custom_viewport_x = "382"
custom_viewport_y = "160"