#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/generic_namco.cfg

custom_viewport_width = "686"
custom_viewport_height = "566"
custom_viewport_x = "295"
custom_viewport_y = "75"