
video_shader = "/opt/retropie/configs/all/retroarch/shaders/phosphor.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/tempest.cfg

custom_viewport_width = "412"
custom_viewport_height = "483"
custom_viewport_x = "458"
custom_viewport_y = "105"