#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/twineagl.cfg

custom_viewport_width = "388"
custom_viewport_height = "530"
custom_viewport_x = "438"
custom_viewport_y = "100"