#include "/opt/retropie/configs/all/retroarch/overlay/arcade/_common_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/twocrude.cfg

custom_viewport_width = "494"
custom_viewport_height = "366"
custom_viewport_x = "383"
custom_viewport_y = "175"